@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


*{
    margin: 0;
    padding: 0; 

}
.brand img{
    /* height: 44px; */
    width: 44px;
    padding: 0 8px;
    
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 10px;
}

body{
    background-color: antiquewhite;
    /* background: ; */
}

nav{
    font-family: sans-serif;
}

nav ol{
    align-items: center ;
    color: white;
    display: flex ;
    list-style: none;
    height: 55px;
    background-color: rgb(48, 10, 10);
}

nav ol li {
    padding: 0px 15px;
}

.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    margin: 25px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('BG.avif');
    
}
.bottom{
    position: sticky;
    height: 125px;
    background-color: rgb(37, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white ;
    flex-direction: column;
}

#ProgressBar{
    width: 60vw;
    
}

.icons{
    margin-top: 15px;

}

.icons i{
    cursor: pointer;
}
.SongItemContainer{
    margin-top: 80 px;
}
.SongItem{

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background: rgb(237, 229, 229);
    border-radius: 34px;
    /* width: ; */
    height: 30px;
    margin-top: 5px;
    color: black;
    margin-left: 12px;
    
}

.SongItem img{
    height: 23px;
    border: 34px;
    border-radius: 40px;
    
}

.timespan{
    margin: 0 15px;
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 20vw;
    align-items: center;
    display: flex;
    font-family: sans-serif;
}

.songinfo img{
    height: 40px;
    width: 150px;
    opacity: 0;
    transition: opacity 1s ease-in;
}